body{
  background-color: #F2545B;
}

h3{
  color: #FBFFF1;
  font-size: 300%;
  background-color: #EEBC1D;
  letter-spacing: 5px;
  position: center;
  top: 20px;
  width: 1905px;
}
p{
  color: #E6EBE0;
  font-size: 175%;
}
ul{
  list-style-type: none;
  background-color: #FEF5EF;
  width: 100%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  margin: 0;
}
li{
  float: left;
}
li a{
  display: block;
  color: #2C3D55;
  text-decoration: none;
  padding: 15px 143px;
  border-style: double;
}
li a:hover {
  background-color: #252422;
  color: #E6EBE0;
}
